.git
.gitignore
.github
.idea
.vscode

.env
.env.*
!.env.example

.venv
venv
env

__pycache__
*.py[cod]
*.pyo
*.pyd

.pytest_cache
.coverage
htmlcov
tests

instance
*.log

.DS_Store
Thumbs.db
README.md
